.header {
    height: 15vh;
    width: 100vw;
    background-color: rgb(73, 73, 80)
}
body {
    margin: 0;
    background-color: rgb(194, 190, 190)
}
.content {
    background-color: white;
    height: 70vh;
    width: 70%;
    margin: 0 auto
}
.footer {
    background-color: rgb(17, 17, 17);
    width: 70%;
    height: 15vh;
    margin: 0 auto;
}
